/* You can add global styles to this file, and also import other style files */

.fc-axis,
.fc-time {
    display: none;
}

.fc-center div {
    display: flex;
    /* margin-top: 15px; */
}

.fc-center div button {
    margin-top: 15px;
}

.fc-center div h2 {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}